{% extends 'base.html' %}
{% block title %}
  {{ group.title }}
{% endblock %}
{% block header %} 
  {{ group.title }}
{% endblock %}
{% block content %}
  Описание:
  <p>{{ group.description|linebreaksbr }}</p>
  {% for post in page_obj %}
    <ul>
      <li>
        Автор: 
        <a href="{% url 'posts:profile' post.author.username %}">
          {{ post.author.get_full_name }}
        </a>
      </li> 
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>
    <p>{{ post.text| linebreaksbr }}</p>    
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}
